@model Reciklaza.Data.Models.ReciklaznoMesto

@{
    if (Session["Id"] == null)
    {
        Response.Redirect("~/Admin/Login");
    }
    ViewBag.Title = "Brisanje reciklažnog mesta";
}

<h2 style="margin-top:6%;margin-left:5%;">Obriši reciklažno mesto "@Html.DisplayFor(modelItem => Model.Naziv)"?</h2>

<div class="reciklazno-mesto" style="margin-top:1%;margin-left:5%;">
    <img hspace="5" src="~/images/reciklazno-mesto-slicica.png" alt="">
    <h3>"@Html.DisplayFor(modelItem => Model.Naziv)"</h3>
    <p>
        @{
            if (Model.NazivMaterijala.ToLower().Substring(0, 4) == "papi")
            {
                <img height="20" width="20" alt="Image" src="@Url.Content("~/images/icon-paper.png")" />
            }
            else if (Model.NazivMaterijala.ToLower().Substring(0, 4) == "plas")
            {
                <img height="20" width="20" alt="Image" src="@Url.Content("~/images/icon-plastic.png")" />
            }
            else if (Model.NazivMaterijala.ToLower().Substring(0, 4) == "stak")
            {
                <img height="20" width="20" alt="Image" src="@Url.Content("~/images/icon-glass.png")" />
            }
            else if (Model.NazivMaterijala.ToLower().Substring(0, 4) == "meta" || Model.NazivMaterijala.ToLower().Substring(0, 4) == "gvoz" || Model.NazivMaterijala.ToLower().Substring(0, 4) == "alum")
            {
                <img height="20" width="20" alt="Image" src="@Url.Content("~/images/icon-metal.png")" />
            }
            else if (Model.NazivMaterijala.ToLower().Substring(0, 4) == "elek")
            {
                <img height="20" width="20" alt="Image" src="@Url.Content("~/images/icon-electronic.png")" />
            }
            else if (Model.NazivMaterijala.ToLower().Substring(0, 3) == "hem")
            {
                <img height="20" width="20" alt="Image" src="@Url.Content("~/images/icon-chemical.png")" />
            }
            else
            {
                <img height="20" width="20" alt="Image" src="@Url.Content("~/images/icon-default.png")" />
            }
            <strong>@Html.DisplayFor(modelItem => Model.CenaPoKg) din/kg</strong>
        }
        <br />
        <strong>@Html.DisplayNameFor(model => model.Grad):</strong> @Html.DisplayFor(modelItem => Model.Grad)
        <br />
        <strong>@Html.DisplayNameFor(model => model.Adresa):</strong> @Html.DisplayFor(modelItem => Model.Adresa)
        <br />
        <strong>@Html.DisplayNameFor(model => model.NazivMaterijala):</strong> @Html.DisplayFor(modelItem => Model.NazivMaterijala)
        <br />
        <div style="margin-top:2%;">

        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Obriši" class="btn btn-success btn-lg" style="margin-right:1%;" />
                <a href="~/ReciklaznoMesto/Index" class="btn btn-warning btn-lg">Otkaži</a>
            </div>
        }

    </p>
</div>