@model Reciklaza.Data.Models.Materijal

@{
    if (Session["Id"] == null)
    {
        Response.Redirect("~/Admin/Login");
    }
    ViewBag.Title = "Izmena materijala";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal separated">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <h2 style="margin-bottom:2%;">Izmena materijala</h2>

            @Html.LabelFor(model => model.Naziv, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Naziv, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Naziv, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Potvrdi" class="btn btn-success" style="margin-right:3%;" />
                <a href="~/Materijal/Index" class="btn btn-warning ">Otkaži</a>
            </div>
        </div>

        <div>
            @Html.ActionLink("Lista materijala", "Index")
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
